# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [56]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
from pyspark import SparkFiles
dataset_url, dataset_file = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", "chipotle.tsv"
spark.sparkContext.addFile(dataset_url)

### Step 3. Assign it to a variable called chipo.

In [58]:
chipo = spark.read.csv(SparkFiles.get(dataset_file), sep='\t', header=True)

### Step 4. See the first 10 entries

In [59]:
chipo.show(10)

+--------+--------+--------------------+--------------------+----------+
|order_id|quantity|           item_name|  choice_description|item_price|
+--------+--------+--------------------+--------------------+----------+
|       1|       1|Chips and Fresh T...|                NULL|    $2.39 |
|       1|       1|                Izze|        [Clementine]|    $3.39 |
|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|       1|       1|Chips and Tomatil...|                NULL|    $2.39 |
|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
|       3|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $10.98 |
|       3|       1|       Side of Chips|                NULL|    $1.69 |
|       4|       1|       Steak Burrito|[Tomatillo Red Ch...|   $11.75 |
|       4|       1|    Steak Soft Tacos|[Tomatillo Green ...|    $9.25 |
|       5|       1|       Steak Burrito|[Fresh Tomato Sal...|    $9.25 |
+--------+--------+--------------------+--------------------+----------+
only showing top 10 rows

### Step 5. What is the number of observations in the dataset?

In [60]:
# Solution 1
chipo.count()

4622

In [61]:
# Solution 2
chipo.describe().show()

+-------+-----------------+------------------+-----------------+--------------------+----------+
|summary|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+-----------------+------------------+-----------------+--------------------+----------+
|  count|             4622|              4622|             4622|                4622|      4622|
|   mean|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                1|                 1|6 Pack Soft Drink|                NULL|    $1.09 |
|    max|              999|                 8|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+-----------------+------------------+-----------------+--------------------+----------+

### Step 6. What is the number of columns in the dataset?

In [62]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [63]:
for col_idx, col_name in enumerate(chipo.columns):
    print(f"Column {col_idx + 1}: '{col_name}'")

Column 1: 'order_id'
Column 2: 'quantity'
Column 3: 'item_name'
Column 4: 'choice_description'
Column 5: 'item_price'

### Step 8. How is the dataset indexed?

In [64]:
# Not applicable

### Step 9. Which was the most-ordered item?

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?